<div>
  <div class="alpha twelve columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:general_settings) %></legend>

      <div class="alpha twelve columns">
        <div  class="field">
          <%= f.label :name, 'Name' %>
          <br />
          <%= f.text_field :name %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
