@import 'store/variables';

#shipping_method {
  .stock-delivery-date-title, .stock-delivery-instructions-title {
    background-color: lighten($body_text_color, 70);
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size :11px;
   }
}

#delivery_date, #delivery_instructions {
  .field {
    margin: 20px 0;

    label {
      margin-right: 20px;
    }
  }
}

#delivery_instructions textarea {
  width: 100%;
  min-height: 100px;
}

#delivery_date {
  .unavailable-delivery-slot {
    background-color: gray;
  }

  .available-delivery-slot {
    cursor: pointer;
  }

  .available-delivery-slot:hover {
    background-color: #f3f3f4;
  }

  .selected-delivery-slot {
    background-color: #00adee;

    &, &:hover {
      background-color: #00adee;
      color: #fff;
    }
  }
}
