<% if order.delivery_date != nil %>
  <td class="align-center"><%= I18n.l order.delivery_date %><br/><%= order.delivery_slot.try(:name) %></td>
<% else %>
  <td class="align-center">Unknown</td>
<% end %>
